In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
five_fold = []
for i in range(5):
    data = pd.read_csv("data/fold_{}_data.txt".format(i), sep="\t")
    five_fold.append(data)

In [3]:
data_fold_0 = pd.read_csv("data/fold_0_data.txt", sep="\t")

In [18]:
total = pd.concat(five_fold).reset_index()

In [25]:
total = total.drop(index=total[total['age'] == 'None'].index, axis=0)
total = total.drop(index=total[total['gender'].isna()].index, axis=0)
total = total.reset_index()
total = total.drop(columns=['index', 'level_0'], axis=1)

In [34]:
total.head()

,user_id,original_image,face_id,age,gender,x,y,dx,dy,tilt_ang,fiducial_yaw_angle,fiducial_score
0,30601258@N03,10399646885_67c7d20df9_o.jpg,1,"(25, 32)",f,0,414,1086,1383,-115,30,17
1,30601258@N03,10424815813_e94629b1ec_o.jpg,2,"(25, 32)",m,301,105,640,641,0,0,94
2,30601258@N03,10437979845_5985be4b26_o.jpg,1,"(25, 32)",f,2395,876,771,771,175,-30,74
3,30601258@N03,10437979845_5985be4b26_o.jpg,3,"(25, 32)",m,752,1255,484,485,180,0,47
4,30601258@N03,11816644924_075c3d8d59_o.jpg,2,"(25, 32)",m,175,80,769,768,-75,0,34

In [44]:
total[total['original_image'] == '10399646885_67c7d20df9_o.jpg']

,user_id,original_image,face_id,age,gender,x,y,dx,dy,tilt_ang,fiducial_yaw_angle,fiducial_score
0,30601258@N03,10399646885_67c7d20df9_o.jpg,1,"(25, 32)",f,0,414,1086,1383,-115,30,17

In [39]:
for name in os.listdir(os.path.join('data/faces', total['user_id'][0])):
    if name.__contains__("10399646885_67c7d20df9_o"):
        print(name)

coarse_tilt_aligned_face.1.10399646885_67c7d20df9_o.jpg
landmarks.1.10399646885_67c7d20df9_o.txt

In [45]:
image_format =  "coarse_tilt_aligned_face.{}.{}.jpg"

In [51]:
with open("data/face_info.csv", "a+") as f:
    for l in total.values:
        filename = image_format.format(l[2], l[1].split('.')[0])
        folder_name = l[0]
        if not os.path.exists(os.path.join("data/faces", folder_name, filename)):
            print(filename)
        else:
            f.write("{}\t{}\t{}\n".format(os.path.join("data/faces", folder_name, filename), l[3], l[4]))